**/__pycache__/**
.nix-venv
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

agent/
service/

# From Ponder
# Dependencies
ponder/node_modules

# Debug
ponder/npm-debug.log*
ponder/yarn-debug.log*
ponder/yarn-error.log*
ponder/.pnpm-debug.log*

# Misc
ponder/.DS_Store

# Env files
ponder/.env*.local

# Ponder
ponder/generated/
ponder/.ponder/

# From Ponder
# Dependencies
ponder/node_modules

# Debug
ponder/npm-debug.log*
ponder/yarn-debug.log*
ponder/yarn-error.log*
ponder/.pnpm-debug.log*

# Misc
ponder/.DS_Store

# Env files
ponder/.env*.local

# Ponder
ponder/generated/
ponder/.ponder/

# frontend
frontend/.DS_Store
frontend/node_modules
frontend//build
frontend//.svelte-kit
frontend//package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

./data

packages/open_aea/

/goldman_stacked

packages/eightballer/protocols/default
packages/eightballer/protocols/http
packages/open_aea/protocols/signing
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
